<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary shadow sticky-top"
  id="navbarMain"
>
  <div class="container">
    <div>
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        {{ with .Site.Params.site_logo }}
          <img src="{{ . | relURL }}" />
        {{ end }}
        {{ with .Site.Params.title_icon }}
          {{ safeHTML .}}
        {{ end }}
        {{ safeHTML .Site.Title }}
      </a>
    </div>
    <!-- only add the navbar toggle button if there are elements within the toggle -->
    {{- if .Site.Menus.shortcuts }}
      <button
        class="navbar-toggler navbar-toggler-right collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMainCollapse"
        aria-controls="navbarMainCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarMainCollapse">
        <ul class="navbar-nav ml-auto">
          {{- with .Site.Menus.shortcuts }}
            {{- range sort . "Weight" }}
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="{{ .URL }}"
                  {{ if eq $.Site.Params.menushortcutsnewtab true }}
                    target="_blank"
                  {{ end }}
                >
                  {{ safeHTML .Name }}
                </a>
              </li>
            {{- end }}
          {{- end }}
        </ul>
      </div>
    {{- end }}
  </div>
  {{ with .OutputFormats.Get "rss" -}}
    <div class="feed-icons">
      <a href="{{ .Permalink }}"
        ><img src="{{ "img/feed-icon.svg" | relURL }}" alt="RSS feed"
      /></a>
    </div>
  {{ end -}}
</nav>
