<div class="docs-toc">
  {{ if and (eq .Section "architectures") (.IsPage) }}
  <ul>
  <li><a href="#resources">Resources</a></li>
  <li><a href="#diagrams">Diagrams</a></li>
  <ul>
	{{ .TableOfContents }}
  </ul>
  </ul>
  {{ else }}
	{{ .TableOfContents }}
  {{ end }}
</div>
