<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

        {{- partial "header.html" . -}}

        <div class="container-fluid">
            <div class="row">

                <div class="docs-sidenav order-0 col-12 col-md-3 col-lg-2 col-xl-2 position-sticky border-right">
                    {{- partial "menu.html" . -}}
                </div>

                {{- if and (ne .Site.Params.toc false) (ne .Params.toc false) }}
                <div class="docs-toc large order-lg-2 order-md-0 order-xs-1 col-12 col-lg-2 col-xl-2 position-sticky border-left">
                    {{- partial "tableofcontents.html" . -}}
                </div>
                <div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-8 py-3">
                {{else}}
                <div class="main col-12 order-1 col-md-9 col-lg-10 col-xl-10 py-3">
                {{end}}

                    {{- block "main" . }}{{- end }}
                    <div class="row">
                        {{- if and (ne .Site.Params.disableReadmoreNav true) (ne .Params.disableReadmoreNav true) -}}
                        <div class="position-relative mx-auto col-lg-9">
                          {{ partial "next-prev-page.html" . }}
                        </div>
                        {{- end -}}
                    </div> <!-- /end of row -->

                </div>

            </div> <!-- /end of row -->

        </div> <!-- /end of container -->

        {{- partial "footer.html" . -}}

        <!-- Taken from https://gohugo.io/content-management/diagrams/ -->
        {{ if .Page.Store.Get "hasMermaid" }}
          <script type="module">
            import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
            mermaid.initialize({ startOnLoad: true });
          </script>
        {{ end }}

        <!-- Use custom scss from assets/ -->
        {{ $styleSass := resources.Get "styles.scss" }}
        {{ $styleCSS := $styleSass | resources.ToCSS }}
        <link rel="stylesheet" href="{{ $styleCSS.Permalink }}">
        <link href="{{ .Site.BaseURL }}css/brands.min.css" rel="stylesheet">
        <link href="{{ .Site.BaseURL }}css/solid.min.css" rel="stylesheet">

    </body>
</html>
