{{ define "main" }}

{{ partial "title" . }}

<h2 id="resources">Resources</h2>

<ul class="list-group">
  {{ with .Params.refs }}
  <li class="list-group-item"><a href="{{.}}"><i class="fa-solid fa-external-link-alt"></i> {{.}}</a></li>
  {{ end }}
  {{ $workspace := strings.TrimPrefix .Site.BaseURL .Page.Permalink }}
  {{ with resources.Get (path.Join "workspaces" $workspace "workspace.json") }}
  <li class="list-group-item"><a download="workspace.json" href="{{ .RelPermalink }}"><i class="fa-solid fa-download"></i> Download this workspace as JSON</a></li>
  {{ end }}
  {{ with .Params.sbom }}
  <li class="list-group-item"><a href="{{ . }}"><i class="fa-solid fa-clipboard-list"></i> {{ $.Title }} SBOM</a></li>
  {{ end }}
</ul>

<h2 id="diagrams">Diagrams</h2>

{{ .Content }}

{{ end }}
